body {
  margin: 0;
  background-color: #f8f0fd;
  font-family: "Poppins", sans-serif;
}

p,
h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.block-title {
  margin-top: 174px;
  font-family: "El Messiri";
  font-weight: 400;
  font-size: 80px;
  line-height: 1.25;
  text-transform: capitalize;
  color: var(--main-blue-color);
}

.block-text {
  font-size: 18px;
  line-height: 1.65;
  text-transform: capitalize;
  color: var(--secondary-blue-color);
}

.accent {
  background-image: var(--gradient-color);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container {
  max-width: 1230px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  display: flex;
  align-content: center;
}

.logo {
  padding-top: 36px;
  margin-bottom: 5px;
  margin-right: 369px;
  font-family: "El Messiri";
  font-weight: 400;
  font-size: 36px;
  line-height: 1.25;
  text-transform: capitalize;
  background-image: linear-gradient(68deg, #ff62b7 14.39%, #9f53ff 79.59%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav {
  margin-right: auto;
  display: flex;
}

.nav__list {
  display: flex;
  align-items: center;
}

.nav__link {
  padding-top: 43px;
  padding-bottom: 13px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.65;
  text-transform: capitalize;
  color: #2c0958;
}

.nav__link:hover a,
.nav__link:focus a {
  background-image: linear-gradient(68deg, #ff62b7 14.39%, #9f53ff 79.59%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav__link:not(:last-child) {
  margin-right: 60px;
}

.nav__btn:not(:last-child) {
  margin-right: 46px;
  margin-bottom: 13px;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.65;
  text-transform: capitalize;
  color: #2c0958;
}

.nav__btn:not(:last-child):hover a,
.nav__btn:not(:last-child):focus a {
  background-image: linear-gradient(68deg, #ff62b7 14.39%, #9f53ff 79.59%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav__btn:last-child {
  display: flex;
  align-items: center;
  background: linear-gradient(68deg, #ff62b7 14.39%, #9f53ff 79.59%);
  box-shadow: 0px 10px 20px rgba(255, 99, 183, 0.2);
  border-radius: 58px;
}

.nav__btn:last-child a {
  padding: 13px 53px 13px 54px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.65;
  text-transform: capitalize;
  color: #ffffff;
}

.nav__btn:last-child:hover,
.nav__btn:last-child:focus {
  background: #f8f0fd;
  box-shadow: inset 0px 10px 20px rgba(255, 99, 183, 0.2);
  outline: 2px solid rgba(255, 99, 183, 0.2);
}

.nav__btn:last-child:hover a,
.nav__btn:last-child:focus a {
  background-image: linear-gradient(68deg, #ff62b7 14.39%, #9f53ff 79.59%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav__contacts-list {
  display: flex;
  align-items: flex-end;
}

.hero {
  position: relative;
  display: flex;
}

.hero__title {
  width: 690px;
  margin-top: 80px;
  display: inline-block;
  font-family: "El Messiri";
  font-style: normal;
  font-weight: 400;
  font-size: 124px;
  line-height: 1;
  text-transform: capitalize;
  color: #2c0958;
}

.hero__title--span {
  padding: 16px;
  width: 290px;
  display: inline-block;
  font-family: "El Messiri";
  font-weight: 400;
  font-size: 124px;
  line-height: 1.25;
  text-transform: capitalize;
  color: #ffffff;
  border: 1.5px solid #ffffff;
  border-radius: 26px;
  transform: rotate(7.69deg);
  background-image: linear-gradient(68deg, #ff62b7 14.39%, #9f53ff 79.59%);
}

.hero__text {
  margin-top: 24px;
  font-size: 18px;
  line-height: 1.65;
  text-transform: capitalize;
  color: #48365f;
}

.hero--numbers {
  display: block;
  font-family: "El Messiri";
  font-weight: 400;
  font-size: 64px;
  line-height: 1.25;
  text-transform: capitalize;
  color: #2c0958;
}

.hero__stats-block {
  width: 424px;
  display: flex;
}

.hero__list {
  margin-top: 60px;
  display: flex;
}

.hero__item {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.49;
  text-transform: capitalize;
  color: #2c0958;
}

.hero__item:not(:last-child) {
  margin-right: 76px;
}

.hero__images {
  height: 919px;
}

.hero__dots-img {
  position: absolute;
  left: -26px;
  bottom: 405px;
}

.hero__trainer-img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 555px;
  z-index: 2;
}

.hero__lotus-img {
  position: absolute;
  bottom: 109px;
  width: 695px;
  height: 490px;
  right: -70px;
  z-index: -1;
}

.hero__circle-img {
  position: absolute;
  top: 34px;
  right: 210px;
}

.hero__big-star-img {
  position: absolute;
  left: 600px;
  bottom: 579px;
}

.hero__little-star-img {
  position: absolute;
  bottom: -72px;
  left: 910px;
}

.hero__stats-img {
  position: absolute;
  left: 471px;
  bottom: 112px;
}

.hero__btn {
  margin-top: 32px;
  padding: 15px 26px;
  display: inline-flex;
  align-items: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.65;
  text-transform: capitalize;
  color: #fffefe;
  background: linear-gradient(68deg, #ff62b7 14.39%, #9f53ff 79.59%);
  box-shadow: 0px 10px 20px rgba(255, 99, 183, 0.2);
  border-radius: 58px;
}

.hero__btn:hover,
.hero__btn:focus {
  background: #f8f0fd;
  box-shadow: inset 0px 10px 20px rgba(255, 99, 183, 0.2);
  outline: 2px solid rgba(255, 99, 183, 0.2);
  background-image: linear-gradient(68deg, #ff62b7 14.39%, #9f53ff 79.59%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero__btn--arrow {
  margin-left: 10px;
  stroke: #ffffff;
  fill: transparent;
  stroke-width: 2.064;
}

.hero__btn:hover .hero__btn--arrow > use,
.hero__btn:focus .hero__btn--arrow > use {
  stroke: #9f53ff;
}

.btn {
  padding-right: 36px;
  padding-left: 36px;
}

.intro-section {
  margin-top: 100px;
  display: flex;
  align-items: center;
}

.intro-section__number {
  margin-right: 47px;
  font-family: "El Messiri";
  font-weight: 400;
  font-size: 80px;
  line-height: 1, 25;
  text-transform: capitalize;
  color: #2c0958;
}

.img-block {
  position: relative;
  margin-right: 34px;
}

.img-block--bcg {
  width: 425px;
  height: 180px;
  background: rgba(159, 83, 255, 0.1);
  border-radius: 200px;
}

.img-block__img {
  position: absolute;
  bottom: 15px;
  left: 46px;
}

.intro-section__text-block {
  position: relative;
  width: 346px;
  margin-right: 58px;
  display: block;
}

.intro-section__text {
  text-indent: 25px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-transform: capitalize;
  color: #2c0958;
}

.stars {
  position: absolute;
  bottom: 53px;
}

.intro-section__btn {
  position: relative;
  width: 180px;
  height: 171px;
  display: block;
  text-align: center;
  padding: 0;
  background: linear-gradient(68deg, #ff62b7 14.39%, #9f53ff 79.59%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  border: none;
}

.ellipse-img {
  position: absolute;
  top: 0;
  left: 0;
}

.rainbow-arrow {
  display: inline;
}

.hap-section {
  margin-top: 74px;
  display: flex;
}

.hap-section__text-block {
  margin-left: 36px;
}

.hap-section__img-block {
  position: relative;
}

.hap-section__img-lotus {
  width: 568px;
  margin-top: 134px;
}

.hap-section__img-trainer {
  position: absolute;
  left: 89px;
}

.hap-section__title {
  margin-top: 138px;
  margin-bottom: 40px;
}

.heart-block {
  position: absolute;
  top: 52px;
  left: -18px;
  width: 215px;
  height: 86px;
  display: flex;
  padding: 10px 32px 10px 16px;
  align-items: center;
  background-color: #ffffff;
  border-radius: 20px;
}

.heart {
  margin-right: 6px;
  padding-top: 16px;
  padding-left: 15px;
  background-color: rgba(255, 45, 39, 0.15);
  border-radius: 50%;
}

.heart-block__header {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.5px;
  color: #2c0958;
}

.heart-block__number {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  background: linear-gradient(68deg, #ff62b7 14.39%, #9f53ff 79.59%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.courses__block {
  position: absolute;
  width: 170px;
  height: 86px;
  bottom: -39px;
  left: 354px;
  padding: 10px 24px;
  background: #ffffff;
  border-radius: 20px;
}

.courses__number {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  background: linear-gradient(68deg, #ff62b7 14.39%, #9f53ff 79.59%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.courses__text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.5px;
  color: #2c0958;
}/*# sourceMappingURL=index.css.map */