body {
  margin: 0;
  background-color: #f8f0fd;
  font-family: "Poppins", sans-serif;
}

p,
h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.container {
  max-width: 1230px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  display: flex;
  align-content: center;
}

.logo {
  padding-top: 36px;
  margin-bottom: 5px;
  margin-right: 369px;
  font-family: "El Messiri";
  font-weight: 400;
  font-size: 36px;
  line-height: 1.25;
  text-transform: capitalize;
  background-image: linear-gradient(68deg, #ff62b7 14.39%, #9f53ff 79.59%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav {
  margin-right: auto;
  display: flex;
}

.nav__list {
  display: flex;
  align-items: center;
}

.nav__link {
  padding-top: 43px;
  padding-bottom: 13px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.65;
  text-transform: capitalize;
  color: #2c0958;
}

.nav__link:hover a,
.nav__link:focus a {
  background-image: linear-gradient(68deg, #ff62b7 14.39%, #9f53ff 79.59%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav__link:not(:last-child) {
  margin-right: 60px;
}

.nav__btn:not(:last-child) {
  margin-right: 46px;
  margin-bottom: 13px;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.65;
  text-transform: capitalize;
  color: #2c0958;
}

.nav__btn:not(:last-child):hover a,
.nav__btn:not(:last-child):focus a {
  background-image: linear-gradient(68deg, #ff62b7 14.39%, #9f53ff 79.59%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav__btn:last-child {
  display: flex;
  align-items: center;
  background: linear-gradient(68deg, #ff62b7 14.39%, #9f53ff 79.59%);
  box-shadow: 0px 10px 20px rgba(255, 99, 183, 0.2);
  border-radius: 58px;
}

.nav__btn:last-child a {
  padding: 13px 53px 13px 54px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.65;
  text-transform: capitalize;
  color: #ffffff;
}

.nav__btn:last-child:hover,
.nav__btn:last-child:focus {
  background: #f8f0fd;
  box-shadow: inset 0px 10px 20px rgba(255, 99, 183, 0.2);
  outline: 2px solid rgba(255, 99, 183, 0.2);
}

.nav__btn:last-child:hover a,
.nav__btn:last-child:focus a {
  background-image: linear-gradient(68deg, #ff62b7 14.39%, #9f53ff 79.59%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav__contacts-list {
  display: flex;
  align-items: flex-end;
}

.hero {
  position: relative;
  display: flex;
}

.hero__title {
  width: 690px;
  margin-top: 80px;
  display: inline-block;
  font-family: "El Messiri";
  font-style: normal;
  font-weight: 400;
  font-size: 124px;
  line-height: 1;
  text-transform: capitalize;
  color: #2c0958;
}

.hero__title--span {
  padding: 16px;
  width: 290px;
  display: inline-block;
  font-family: "El Messiri";
  font-weight: 400;
  font-size: 124px;
  line-height: 1.25;
  text-transform: capitalize;
  color: #ffffff;
  border: 1.5px solid #ffffff;
  border-radius: 26px;
  transform: rotate(7.69deg);
  background-image: linear-gradient(68deg, #ff62b7 14.39%, #9f53ff 79.59%);
}

.hero__text {
  margin-top: 24px;
  font-size: 18px;
  line-height: 1.65;
  text-transform: capitalize;
  color: #48365f;
}

.hero--numbers {
  display: block;
  font-family: "El Messiri";
  font-weight: 400;
  font-size: 64px;
  line-height: 1.25;
  text-transform: capitalize;
  color: #2c0958;
}

.hero__stats-block {
  width: 424px;
  display: flex;
}

.hero__list {
  margin-top: 60px;
  display: flex;
}

.hero__item {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.49;
  text-transform: capitalize;
  color: #2c0958;
}

.hero__item:not(:last-child) {
  margin-right: 76px;
}

.hero__images {
  height: 919px;
}

.hero__dots-img {
  position: absolute;
  left: -26px;
  bottom: 405px;
}

.hero__trainer-img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 555px;
  z-index: 2;
}

.hero__lotus-img {
  position: absolute;
  bottom: 109px;
  width: 695px;
  height: 490px;
  right: -70px;
  z-index: -1;
}

.hero__circle-img {
  position: absolute;
  top: 34px;
  right: 210px;
}

.hero__big-star-img {
  position: absolute;
  left: 600px;
  bottom: 579px;
}

.hero__little-star-img {
  position: absolute;
  bottom: -72px;
  left: 910px;
}

.hero__stats-img {
  position: absolute;
  left: 471px;
  bottom: 112px;
}

.hero__btn {
  margin-top: 32px;
  padding: 15px 26px;
  display: inline-flex;
  align-items: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.65;
  text-transform: capitalize;
  color: #fffefe;
  background: linear-gradient(68deg, #ff62b7 14.39%, #9f53ff 79.59%);
  box-shadow: 0px 10px 20px rgba(255, 99, 183, 0.2);
  border-radius: 58px;
}

.hero__btn:hover,
.hero__btn:focus {
  background: #f8f0fd;
  box-shadow: inset 0px 10px 20px rgba(255, 99, 183, 0.2);
  outline: 2px solid rgba(255, 99, 183, 0.2);
  background-image: linear-gradient(68deg, #ff62b7 14.39%, #9f53ff 79.59%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero__btn--arrow {
  margin-left: 10px;
  stroke: #ffffff;
  fill: transparent;
  stroke-width: 2.064;
}

.hero__btn:hover .hero__btn--arrow > use,
.hero__btn:focus .hero__btn--arrow > use {
  stroke: #9f53ff;
}/*# sourceMappingURL=index.css.map */