/* :root {
  --main-blue-color: #2c0958;
  --secondary-blue-color: #48365f;
  --main-white-color: #ffffff;
  --secondary-white-color: #fffefe;
  --background-color: #f8f0fd;
  --gradient-color: linear-gradient(68deg, #ff62b7 14.39%, #9f53ff 79.59%);
  --grey-color: #bdbdbd;
  --footer-text-color: #a6a6a6;
  --contacts-color: #969797;
  --footer-bcg-color: #1b013d;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
} */

/* body {
  margin: 0;
  background-color: var(--background-color);
  font-family: 'Poppins', sans-serif;
}

p,
h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
} */

/* .container {
  max-width: 1230px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
} */

/* Header */

/* .header {
  display: flex;
  align-content: center;
}

.main-nav {
  display: flex;
  margin-right: auto;
}

.nav-list {
  display: flex;
  align-items: center;
}

.logo {
  padding-top: 36px;
  margin-bottom: 5px;
  margin-right: 369px;

  font-family: 'El Messiri';
  font-weight: 400;
  font-size: 36px;
  line-height: 1.25;
  text-transform: capitalize;

  background-image: var(--gradient-color);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contacts-list {
  display: flex;
  align-items: flex-end;
}

.nav-link {
  padding-top: 43px;
  padding-bottom: 13px;

  font-weight: 600;
  font-size: 18px;
  line-height: 1.65;
  text-transform: capitalize;

  color: var(--main-blue-color);
}

.nav-link:hover a,
.nav-link:focus a {
  background-image: var(--gradient-color);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-link:not(:last-child) {
  margin-right: 60px;
}

.nav-btn:not(:last-child) {
  display: flex;
  align-items: center;
  margin-right: 46px;
  margin-bottom: 13px;

  font-weight: 600;
  font-size: 18px;
  line-height: 1.65;
  text-transform: capitalize;

  color: var(--main-blue-color);
}

.nav-btn:not(:last-child):hover a,
.nav-btn:not(:last-child):focus a {
  background-image: var(--gradient-color);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-btn:last-child {
  align-items: center;
  display: flex;

  background: var(--gradient-color);
  box-shadow: 0px 10px 20px rgba(255, 99, 183, 0.2);
  border-radius: 58px;
}

.nav-btn:last-child a {
  padding: 13px 53px 13px 54px;

  font-weight: 500;
  font-size: 18px;
  line-height: 1.65;
  text-transform: capitalize;

  color: var(--main-white-color);
}

.nav-btn:last-child:hover,
.nav-btn:last-child:focus {
  background: var(--background-color);
  box-shadow: inset 0px 10px 20px rgba(255, 99, 183, 0.2);
  outline: 2px solid rgba(255, 99, 183, 0.2);
}

.nav-btn:last-child:hover a,
.nav-btn:last-child:focus a {
  background-image: var(--gradient-color);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
} */

/* Hero */

/* .hero {
  display: flex;
  position: relative;
} */

/* .main-title {
  display: inline-block;
  width: 690px;
  margin-top: 80px;
  font-family: 'El Messiri';
  font-weight: 400;
  font-size: 124px;
  line-height: 1.25;
  text-transform: capitalize;
  color: var(--main-blue-color);
}

.main-title-span {
  display: inline-block;
  padding: 16px;
  width: 290px;
  font-family: 'El Messiri';
  font-weight: 400;
  font-size: 124px;
  line-height: 1.25;
  text-transform: capitalize;
  color: #ffffff;
  border: 1.5px solid #ffffff;
  border-radius: 26px;
  transform: rotate(7.69deg);
  background-image: var(--gradient-color);
}

.hero-text {
  margin-top: 24px;
  font-size: 18px;
  line-height: 1.65;
  text-transform: capitalize;
  color: var(--secondary-blue-color);
}

.numbers {
  display: block;
  font-family: 'El Messiri';
  font-weight: 400;
  font-size: 64px;
  line-height: 1.25;
  text-transform: capitalize;
  color: var(--main-blue-color);
}

.hero-stats-block {
  display: flex;
  width: 424px;
}

.hero-list {
  display: flex;
  margin-top: 60px;
}

.hero-list-item {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.49;
  text-transform: capitalize;
  color: var(--main-blue-color);
}

.hero-list-item:not(:last-child) {
  margin-right: 76px;
}

.dots-img {
  position: absolute;
  left: -26px;
  bottom: 360px;
}

.trainer-img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 555px;
  z-index: 2;
}
.lotus-img {
  position: absolute;
  bottom: 109px;
  width: 695px;
  height: 490px;
  right: -70px;
  z-index: -1;
}
.circle-img {
  position: absolute;
  top: 34px;
  right: 210px;
}
.big-star-img {
  position: absolute;
  left: 600px;
  bottom: 562px;
}
.little-star-img {
  position: absolute;
  bottom: -72px;
  left: 910px;
}

.hero-stats-img {
  position: absolute;
  left: 471px;
  bottom: 112px;
} */

/* Intro */

/* .intro-section {
  display: flex;
  align-items: center;
  margin-top: 100px;
}

.intro-number {
  margin-right: 47px;
  font-family: 'El Messiri';
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 100px;
  text-transform: capitalize;

  color: #2c0958;
}

.intro-img {
  position: relative;
}

.intro-img-bcg {
  width: 425px;
  height: 180px;

  background: rgba(159, 83, 255, 0.1);
  border-radius: 200px;
}

.intro-trainer-img {
  position: absolute;
  bottom: 15px;
  left: 46px;
}

.intro-text-block {
  display: block;
  width: 346px;
  margin-right: 58px;
  position: relative;
}

.intro-text {
  text-indent: 25px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-transform: capitalize;
  color: var(--main-blue-color);
}

.stars {
  position: absolute;
  bottom: 53px;
}

.intro-img {
  margin-right: 34px;
}

.intro-btn {
  display: block;
  text-align: center;
  position: relative;
  width: 180px;
  height: 171px;
  background: linear-gradient(68deg, #ff62b7 14.39%, #9f53ff 79.59%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;

  padding: 0;
  border: none;
}

.ellipse-img {
  position: absolute;
  top: 0;
  left: 0;
}

.rainbow-arrow {
  display: inline;
}

.block-title {
  margin-top: 174px;

  font-family: 'El Messiri';
  font-weight: 400;
  font-size: 80px;
  line-height: 1.25;
  text-transform: capitalize;
  color: var(--main-blue-color);
}

.block-text {
  font-size: 18px;
  line-height: 1.65;
  text-transform: capitalize;
  color: var(--secondary-blue-color);
}

.accent {
  background-image: var(--gradient-color);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
} */

/* Happiness section */

/* .happiness-section {
  display: flex;
  margin-top: 74px;
}

.happiness-block {
  margin-left: 36px;
}

.happiness-img-block {
  position: relative;
}

.happiness-lotus-img {
  width: 568px;
  margin-top: 134px;
}

.happiness-trainer-img {
  position: absolute;
  left: 89px;
}

.happiness-block-title {
  margin-top: 138px;
  margin-bottom: 40px;
}

.heart-block {
  position: absolute;
  top: 52px;
  left: -18px;
  width: 215px;
  height: 86px;
  display: flex;
  padding: 10px 32px 10px 16px;
  background-color: #ffffff;
  border-radius: 20px;
  align-items: center;
}

.heart {
  margin-right: 6px;
  background-color: rgba(255, 45, 39, 0.15);
  border-radius: 50%;
  padding-top: 16px;
  padding-left: 15px;
}
.heart-block-header {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.5px;

  color: #2c0958;
}
.heart-block-number {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  background: linear-gradient(68deg, #ff62b7 14.39%, #9f53ff 79.59%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.courses-stats-block {
  position: absolute;
  width: 170px;
  height: 86px;
  bottom: -39px;
  left: 354px;
  padding: 10px 24px;

  background: #ffffff;
  border-radius: 20px;
}
.courses-number {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  /* identical to box height, or 36px */

/* background: linear-gradient(68deg, #ff62b7 14.39%, #9f53ff 79.59%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.courses-text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;

  letter-spacing: -0.5px;

  color: #2c0958;
} */
*/

/* Workout section */

.workout-section {
  display: flex;
  margin-top: 139px;
}

.workout-title {
  margin-top: 74px;
  margin-bottom: 40px;
}

.img-block {
  position: relative;
  height: 742px;
}

.workout-trainer-img-s {
  position: absolute;
  left: 93px;
  top: 294px;
  z-index: -1;
}

.workout-play-icon {
  position: absolute;
  top: 174px;
  left: 282px;
}
.workout-video-block {
  position: absolute;
  width: 248px;
  height: 62px;
  left: 471px;
  top: 157px;

  display: flex;
  align-items: center;
  padding: 15px;

  background: #ffffff;
  border-radius: 15px;
}
.play-icon-dark {
  width: 32px;
  height: 32px;
  margin-right: 8px;
}
.workout-video-text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -1px;

  background: linear-gradient(68deg, #ff62b7 14.39%, #9f53ff 79.59%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.trainer-block {
  position: absolute;
  width: 263px;
  height: 62px;
  top: 611px;
  left: -16px;

  display: flex;
  padding: 15px;

  background: #ffffff;
  border-radius: 15px;
}
.trainer-icon {
  margin-right: 12px;

  width: 32px;
  height: 32px;
}
.trainer-text {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -1px;

  background: linear-gradient(68deg, #ff62b7 14.39%, #9f53ff 79.59%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/* Invitation section */

.invitation-section {
  margin-top: 100px;
  position: relative;
  height: 905px;
}

.invitation-title {
  position: absolute;
  display: block;
  max-width: 600px;
  text-align: center;
  top: 104px;
  left: 323px;

  font-family: 'El Messiri';
  font-weight: 400;
  font-size: 80px;
  line-height: 1.25;
  text-transform: capitalize;
  color: var(--main-blue-color);
}

.invitation-trainer2 {
  position: absolute;
  right: 0;
  top: 0;
}
.invitation-trainer3 {
  position: absolute;
  top: 451px;
  left: -35px;
}

.invitation-trainer4 {
  position: absolute;
  top: 451px;
  right: -35px;
}

.round-btn {
  position: absolute;
  left: 555px;

  display: flex;
  width: 120px;
  height: 120px;
  margin-top: 32px;

  flex-wrap: wrap;

  padding: 30px 28px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;

  text-transform: capitalize;

  color: #fffefe;

  background: linear-gradient(68deg, #ff62b7 14.39%, #9f53ff 79.59%);
  box-shadow: 0px 10px 20px rgba(255, 99, 183, 0.2);
  border-radius: 50%;
}

.round-btn .hero-btn-arrow {
  stroke-width: 1.255;
  margin-left: 0;
  height: 45px;
}

.round-btn:hover,
.round-btn:focus {
  background: var(--background-color);
  box-shadow: inset 0px 10px 20px rgba(255, 99, 183, 0.2);
  outline: 2px solid rgba(255, 99, 183, 0.2);
  background-image: var(--gradient-color);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.round-btn:hover .hero-btn-arrow > use,
.round-btn:focus .hero-btn-arrow > use {
  stroke: #9f53ff;
}

/* Form block */

.form-block {
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
  padding: 60px 171px;
  width: 962px;
  background-image: var(--gradient-color);
  border-radius: 32px;
}

.form-title {
  margin-bottom: 16px;

  font-family: 'El Messiri';
  font-weight: 400;
  font-size: 48px;
  line-height: 1.25;
  text-align: center;
  text-transform: capitalize;
  color: var(--main-white-color);
}

.form-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66;
  text-align: center;
  letter-spacing: -0.02em;
  color: var(--main-white-color);
  opacity: 0.7;
}

.form {
  margin-right: auto;
  margin-left: auto;
  max-width: 526px;
  margin-top: 32px;
  position: relative;
}
.form-input {
  width: 526px;
  height: 70px;
  padding: 22px 20px;

  background: #ffffff;
  border-radius: 58px;
  border: none;
}

.form-input::placeholder {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 165.5%;
  /* or 26px */

  letter-spacing: -0.02em;

  color: #bdbdbd;

  opacity: 0.7;
}

.form-btn {
  position: absolute;
  top: 7px;
  right: 7px;
  padding: 16px 40px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 24px */

  text-align: center;

  /* White */

  color: #ffffff;
  background: linear-gradient(68deg, #ff62b7 14.39%, #9f53ff 79.59%);
  border-radius: 33px;
  border: none;
}

/* Footer */

.footer {
  margin-top: 100px;
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--footer-bcg-color);
}

.footer-main-block {
  display: flex;
}

.footer-list {
  display: flex;
  margin-left: 195px;
}

.footer-list-item:not(:last-child) {
  margin-right: 70px;
}

.footer-list-item:first-child .address-text {
  margin-top: 16px;
  font-family: 'Roboto';
  font-style: normal;
  font-size: 16px;
}

.footer-logo {
  display: inline-block;
  padding-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.footer-text {
  display: block;
  width: 295px;

  margin-top: 16px;
  font-family: 'Roboto';
  font-style: normal;
  font-size: 16px;
  line-height: 1.62;
  color: var(--footer-text-color);
}

.address-title {
  margin-bottom: 40px;

  font-family: 'El Messiri';
  font-weight: 400;
  font-size: 28.73px;
  line-height: 1.35;
  letter-spacing: 0.12em;
  text-transform: capitalize;
  color: var(--main-white-color);
}

.address-text {
  font-family: 'Roboto';
  font-style: normal;
  font-size: 18px;
  line-height: 1.44;
  letter-spacing: -0.01em;
  color: var(--contacts-color);
}

.social-list {
  display: flex;
  margin-top: 20px;
}

.social-list-item:not(:last-child) {
  margin-right: 32px;
}

.social-list-item {
  padding: 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.social-list-item:hover {
  background-color: var(--background-color);
}

.social-list-item img {
  display: block;
}

.copyright {
  margin-top: 20px;
  font-family: 'Roboto';
  font-size: 18px;
  line-height: 1.42;
  letter-spacing: 0.01em;
  color: var(--main-white-color);
}

.footer-accent {
  background-image: var(--gradient-color);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer-underline-block {
  display: flex;
  justify-content: space-between;
}

/* Buttons */

/* .hero-btn {
  display: inline-flex;
  margin-top: 32px;
  padding: 15px 26px;

  align-items: center;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.65;

  text-transform: capitalize;

  color: #fffefe;

  background: linear-gradient(68deg, #ff62b7 14.39%, #9f53ff 79.59%);
  box-shadow: 0px 10px 20px rgba(255, 99, 183, 0.2);
  border-radius: 58px;
}

.hero-btn:hover,
.hero-btn:focus {
  background: var(--background-color);
  box-shadow: inset 0px 10px 20px rgba(255, 99, 183, 0.2);
  outline: 2px solid rgba(255, 99, 183, 0.2);
  background-image: var(--gradient-color);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-btn-arrow {
  margin-left: 10px;

  stroke: #fff;
  fill: transparent;
  stroke-width: 2.064;
}

.hero-btn:hover .hero-btn-arrow > use,
.hero-btn:focus .hero-btn-arrow > use {
  stroke: #9f53ff;
}

.btn {
  padding-right: 36px;
  padding-left: 36px;
} */

* {
  outline: 1px solid red;
}
