:root {
  --main-blue-color: #2c0958;
  --secondary-blue-color: #48365f;
  --main-white-color: #ffffff;
  --secondary-white-color: #fffefe;
  --background-color: #f8f0fd;
  --gradient-color: linear-gradient(68deg, #ff62b7 14.39%, #9f53ff 79.59%);
  --grey-color: #bdbdbd;
  --footer-text-color: #a6a6a6;
  --contacts-color: #969797;
  --footer-bcg-color: #1b013d;
}

body {
  margin: 0;
  background-color: var(--background-color);
  font-family: 'Poppins', sans-serif;
}

p,
h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

.img {
  display: block;
}

.container {
  max-width: 1230px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;

  outline: 2px solid tomato;
}

/* Header */

.header {
  display: flex;
  align-content: center;
}

.main-nav {
  display: flex;
  margin-right: auto;
}

.nav-list {
  display: flex;
  align-items: center;
}

.logo {
  padding-top: 36px;
  margin-bottom: 5px;
  margin-right: 369px;

  text-decoration: none;
  font-family: 'El Messiri';
  font-weight: 400;
  font-size: 36px;
  line-height: 1.25;
  text-transform: capitalize;

  background-image: var(--gradient-color);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contacts-list {
  display: flex;
  align-items: flex-end;
}

.nav-link {
  padding-top: 43px;
  padding-bottom: 13px;

  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.65;
  text-transform: capitalize;

  color: var(--main-blue-color);
}

.nav-link:hover a,
.nav-link:focus a {
  background-image: var(--gradient-color);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-link:not(:last-child) {
  margin-right: 60px;
}

.nav-btn:not(:last-child) {
  display: flex;
  align-items: center;
  margin-right: 46px;
  margin-bottom: 13px;

  text-decoration: none;

  font-weight: 600;
  font-size: 18px;
  line-height: 1.65;
  text-transform: capitalize;

  color: var(--main-blue-color);
}

.nav-btn:not(:last-child):hover a,
.nav-btn:not(:last-child):focus a {
  background-image: var(--gradient-color);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-btn:last-child {
  align-items: center;
  display: flex;

  background: var(--gradient-color);
  box-shadow: 0px 10px 20px rgba(255, 99, 183, 0.2);
  border-radius: 58px;
}

.nav-btn:last-child a {
  padding: 13px 53px 13px 54px;

  font-weight: 500;
  font-size: 18px;
  line-height: 1.65;
  text-transform: capitalize;

  color: var(--main-white-color);
}

.nav-btn:last-child:hover,
.nav-btn:last-child:focus {
  background: var(--background-color);
  box-shadow: inset 0px 10px 20px rgba(255, 99, 183, 0.2);
  outline: 2px solid rgba(255, 99, 183, 0.2);
}

.nav-btn:last-child:hover a,
.nav-btn:last-child:focus a {
  background-image: var(--gradient-color);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Hero */

.hero {
  display: flex;
}

.main-title {
  margin-top: 80px;
  font-family: 'El Messiri';
  font-weight: 400;
  font-size: 124px;
  line-height: 1.25;
  text-transform: capitalize;
  color: var(--main-blue-color);
}

.main-title-span {
  display: inline-block;
  padding: 16px;
  width: 290px;
  font-family: 'El Messiri';
  font-weight: 400;
  font-size: 124px;
  line-height: 1.25;
  text-transform: capitalize;
  color: #ffffff;
  border: 1.5px solid #ffffff;
  border-radius: 26px;
  transform: rotate(7.69deg);
  background-image: var(--gradient-color);
}

.hero-text {
  margin-top: 24px;
  font-size: 18px;
  line-height: 1.65;
  text-transform: capitalize;
  color: var(--secondary-blue-color);
}

.numbers {
  display: block;
  font-family: 'El Messiri';
  font-weight: 400;
  font-size: 64px;
  line-height: 1.25;
  text-transform: capitalize;
  color: var(--main-blue-color);
}

.hero-stats-block {
  display: flex;
}

.hero-list {
  display: flex;
  margin-top: 60px;
}

/* * {
  outline: 1px solid red;
} */

.hero-list-item {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.49;
  text-transform: capitalize;
  color: var(--main-blue-color);
}

.hero-list-item:not(:last-child) {
  margin-right: 76px;
}

.hero-stats-img {
  margin-left: 32px;
}

/* Intro */

.intro-section {
  display: flex;
  align-items: center;
}

.intro-number {
  margin-right: 47px;
  font-family: 'El Messiri';
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 100px;
  text-transform: capitalize;

  color: #2c0958;
}

.intro-text {
  margin-right: 58px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-transform: capitalize;
  color: var(--main-blue-color);
}

.intro-img {
  margin-right: 34px;
}

.block-title {
  margin-top: 174px;

  font-family: 'El Messiri';
  font-weight: 400;
  font-size: 80px;
  line-height: 1.25;
  text-transform: capitalize;
  color: var(--main-blue-color);
}

.block-text {
  font-size: 18px;
  line-height: 1.65;
  text-transform: capitalize;
  color: var(--secondary-blue-color);
}

.accent {
  background-image: var(--gradient-color);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.happiness-section {
  display: flex;
}

.happiness-block {
  margin-left: 36px;
}

.happiness-img {
  width: 568px;
  margin-left: -18px;
}

.workout-section {
  display: flex;
}

.img-block {
  margin-top: 100px;
}

/* Form block */

.form-block {
  background-image: var(--gradient-color);
}

.form-title {
  font-family: 'El Messiri';
  font-weight: 400;
  font-size: 48px;
  line-height: 1.25;
  text-align: center;
  text-transform: capitalize;
  color: var(--main-white-color);
  border: 1px solid var(--main-white-color);
}

.form-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66;
  text-align: center;
  letter-spacing: -0.02em;
  color: var(--main-white-color);
  opacity: 0.7;
}

/* Footer */

.footer {
  background-color: var(--footer-bcg-color);
}

.footer-text {
  font-family: 'Roboto';
  font-style: normal;
  font-size: 16px;
  line-height: 1.62;
  color: var(--footer-text-color);
}

.address-title {
  font-family: 'El Messiri';
  font-weight: 400;
  font-size: 28.73px;
  line-height: 1.35;
  letter-spacing: 0.12em;
  text-transform: capitalize;
  color: var(--main-white-color);
}

.address-text {
  font-family: 'Roboto';
  font-size: 18px;
  line-height: 1.44;
  letter-spacing: -0.01em;
  color: var(--contacts-color);
}

.copyright {
  font-family: 'Roboto';
  font-size: 18px;
  line-height: 1.42;
  letter-spacing: 0.01em;
  color: var(--main-white-color);
}

/* Buttons */

.hero-btn {
  display: inline-flex;
  margin-top: 32px;
  padding: 15px 26px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.65;

  text-transform: capitalize;

  color: #fffefe;

  background: linear-gradient(68deg, #ff62b7 14.39%, #9f53ff 79.59%);
  box-shadow: 0px 10px 20px rgba(255, 99, 183, 0.2);
  border-radius: 58px;
}

.hero-btn:hover,
.hero-btn:focus {
  background: var(--background-color);
  box-shadow: inset 0px 10px 20px rgba(255, 99, 183, 0.2);
  outline: 2px solid rgba(255, 99, 183, 0.2);
  background-image: var(--gradient-color);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-btn-arrow {
  margin-left: 10px;
}

/* .hero-btn:hover .hero-btn-arrow,
.hero-btn:focus .hero-btn-arrow {
  background: var(--background-color);

  background-image: var(--gradient-color);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
} */

.btn {
  padding-right: 36px;
  padding-left: 36px;
}
