$main-blue-color: #2c0958;
$secondary-blue-color: #48365f;
$main-white-color: #ffffff;
$secondary-white-color: #fffefe;
$background-color: #f8f0fd;
$gradient-color: linear-gradient(68deg, #ff62b7 14.39%, #9f53ff 79.59%);
$grey-color: #bdbdbd;
$footer-text-color: #a6a6a6;
$contacts-color: #969797;
$footer-bcg-color: #1b013d;
$cubic: cubic-bezier(0.4, 0, 0.2, 1);
$shadow-color: rgba(255, 99, 183, 0.2);
